.home-container {
    display: flex;
    justify-content: center;
    // text-align: center;
    a {
        display: flex;
        position: relative;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        align-items: center;

        &:hover {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
            font-weight: 600;
        }

        img {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            height: 38vw;
            object-fit: cover;
            border-radius: 5px;


        }

        .button-enter-site {
            position: absolute;
            font-size: 2vw;
            color: white;
            cursor: pointer;
            bottom: 10px;
            text-decoration: underline;
        }
    }
}